# Dependências
node_modules/

# Logs
*.log
npm-debug.log*

# Cache npm expandido como pasta literal
%TEMP%/

# Ambiente
.env
.env.*

# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
